h1,
h2,
h3,
h4,
p,
li {
  font-family: serif;
}
h1,
h2,
h3,
h4 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 22px;
}
#copyright {
  font-size: 14px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}
aside {
  background-color: #f7f7f7;
  border-top: solid#1098ad;
  border-bottom: solid#1098ad;
}
.main-header {
  background-color: #f7f7f7;
}
li:first-child {
  font-weight: bold;
}
li:nth-child(even) {
  font-style: italic;
}
/* LVHA */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orange;
  font-weight: bold;
}
a:active {
  color: black;
  text-decoration: none;
}

/* Resolving Conflict
5-declaration marked important !
4-inline HTML style
3-#id selector
2-.class or :psuedoclass selector
1-element selector
0-universal selector */
